In [1]:

import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv(r"C:\Users\ADMIN\Desktop\ML2\movie.csv")
rating = pd.read_csv(r"C:\Users\ADMIN\Desktop\ML2\rating.csv")

In [3]:
# Combine two datasets

df = movie.merge(rating, how="left", on="movieId")
df.head(5)

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5

In [4]:
# Set movie unique values

df["title"].nunique()
df["title"].value_counts()

title
Pulp Fiction (1994)                                                                    3498
Forrest Gump (1994)                                                                    3476
Silence of the Lambs, The (1991)                                                       3247
Shawshank Redemption, The (1994)                                                       3216
Jurassic Park (1993)                                                                   3129
                                                                                       ...
FC Venus (2006)                                                                           1
Extraordinary Adventures of Adèle Blanc-Sec, The (2010)                                   1
Danse: The Paris Opera Ballet, La (La Danse - Le ballet de l'Opéra de Paris) (2009)       1
According to Greta (2009)                                                                 1
Innocence (2014)                                                                          1
Name: count, Length: 27262, dtype: int64

In [5]:
# To exclude movies with less than 1000 votes from the dataset

comment_counts = pd.DataFrame(df["title"].value_counts())
rare_movies = comment_counts[df["title"].value_counts() <= 1000].index
common_movies = df[~df["title"].isin(rare_movies)]

In [6]:
# Create a pivot table for the dataframe with the userIDs in the index, the movie names in the columns, and the ratings as values

user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
user_movie_df.head(5)

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),Alien (1979),Aliens (1986),Amadeus (1984),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),...,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),"Usual Suspects, The (1995)",Waterworld (1995),When Harry Met Sally... (1989),While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)",X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,3.5,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,...,3.5,NaN,3.5,NaN,NaN,NaN,NaN,NaN,3.5,NaN
2.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,5.0,NaN,NaN,NaN,5.0,4.0,3.0,NaN,NaN,4.0,...,4.0,NaN,5.0,NaN,4.0,NaN,NaN,5.0,4.0,NaN
4.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

In [7]:
# Calculate the mean of each row in the user_movie_df DataFrame
row_means = user_movie_df.mean(axis=1)

# Subtract the row means from the original values in the DataFrame to normalize it
matrix_norm = user_movie_df.subtract(row_means, axis=0)

# Display the first 5 rows of the normalized DataFrame
matrix_norm.head(5)

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),Alien (1979),Aliens (1986),Amadeus (1984),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),...,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),"Usual Suspects, The (1995)",Waterworld (1995),When Harry Met Sally... (1989),While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)",X-Men (2000)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,-0.372727,NaN,NaN,NaN,0.127273,0.127273,NaN,NaN,NaN,NaN,...,-0.372727,NaN,-0.372727,NaN,NaN,NaN,NaN,NaN,-0.372727,NaN
2.0,0.437500,NaN,NaN,NaN,0.437500,NaN,NaN,NaN,-1.5625,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,0.473684,NaN,NaN,NaN,0.473684,-0.526316,-1.526316,NaN,NaN,-0.526316,...,-0.526316,NaN,0.473684,NaN,-0.526316,NaN,NaN,0.473684,-0.526316,NaN
4.0,NaN,NaN,-0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,0.525,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.525,NaN,NaN,NaN,NaN,NaN,-2.475000,NaN,NaN

In [8]:
transposed_matrix_norm = matrix_norm.T

# Calculate the correlation matrix to determine the similarity between users
user_similarity = transposed_matrix_norm.corr().copy()

# Display the user similarity matrix
user_similarity

userId,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,7111.0,7112.0,7113.0,7114.0,7115.0,7116.0,7117.0,7118.0,7119.0,7120.0
userId,,,,,,,,,,,,,,,,,,,,,
1.0,1.000000,-0.078811,0.267558,NaN,0.467677,NaN,0.259973,0.000000,0.500000,0.320256,...,-0.100000,NaN,-0.288675,0.654654,0.149071,0.395291,0.301322,-0.408248,0.408248,0.500000
2.0,-0.078811,1.000000,NaN,NaN,0.645497,NaN,0.546295,-0.500000,NaN,NaN,...,NaN,NaN,-0.333333,NaN,0.500000,0.797420,-0.444444,1.000000,-1.000000,NaN
3.0,0.267558,NaN,1.000000,0.243975,-0.184208,-0.275839,-0.046332,-0.295804,0.500000,0.108148,...,0.438529,NaN,-0.136312,0.108465,-0.750000,-0.173627,0.025651,-0.316228,0.075955,1.000000
4.0,NaN,NaN,0.243975,1.000000,0.320256,NaN,0.133631,0.580487,NaN,NaN,...,-0.755929,NaN,0.491250,NaN,0.035297,0.808290,-0.051699,NaN,-0.469157,NaN
5.0,0.467677,0.645497,-0.184208,0.320256,1.000000,0.206692,0.416618,-0.038224,NaN,NaN,...,NaN,NaN,0.024510,NaN,0.568178,-0.084721,0.233661,-0.577350,-0.454003,0.838525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7116.0,0.395291,0.797420,-0.173627,0.808290,-0.084721,-0.762493,0.446635,0.892967,0.218218,0.214176,...,0.301726,NaN,0.467161,0.404932,0.228436,1.000000,0.157607,-0.389249,0.536128,0.866260
7117.0,0.301322,-0.444444,0.025651,-0.051699,0.233661,-0.403280,0.031906,-0.089288,NaN,0.516398,...,-0.079623,NaN,-0.205268,-0.062017,-0.096374,0.157607,1.000000,-0.707107,0.111760,-0.102062
7118.0,-0.408248,1.000000,-0.316228,NaN,-0.577350,NaN,NaN,1.000000,NaN,NaN,...,NaN,NaN,1.000000,0.000000,-1.000000,-0.389249,-0.707107,1.000000,1.000000,NaN
7119.0,0.408248,-1.000000,0.075955,-0.469157,-0.454003,NaN,0.062348,0.340700,NaN,NaN,...,-0.707107,NaN,0.334244,NaN,0.098234,0.536128,0.111760,1.000000,1.000000,0.547619
7120.0,0.500000,NaN,1.000000,NaN,0.838525,-0.577350,1.000000,0.551620,NaN,NaN,...,NaN,NaN,0.561975,NaN,0.356753,0.866260,-0.102062,NaN,0.547619,1.000000

In [9]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error

def collaborative_filtering(random_user, n, threshold):
    if random_user not in matrix_norm.index:
        print(f"User {random_user} not found in the DataFrame.")
        return None
    # Store the dropped row for later recovery
    dropped_row = user_similarity.loc[random_user].copy()

    # Drop the specified user from the similarity matrix
    user_similarity.drop(index=random_user, inplace=True)

    # Select similar users based on the similarity threshold
    similar_users = user_similarity[user_similarity[random_user] > threshold][random_user].nlargest(n)

    # Select the row corresponding to the specified user from the normalized matrix
    movies_watched = matrix_norm[matrix_norm.index == random_user]

    # Drop columns (movies) where all values are NaN for the selected user
    movies_watched = movies_watched.dropna(axis=1, how='all')

    # Select rows (users) from the normalized matrix for users that are similar to the target user
    similar_users_watched = matrix_norm[matrix_norm.index.isin(similar_users.index)]

    # Drop columns (movies) where all values are NaN for the selected similar users
    similar_users_watched = similar_users_watched.dropna(axis=1, how='all')

    # Initialize an empty dictionary to store predictions for each movie
    movie_predictions = {}

    # Iterate over movies watched by the random user
    for target_movie in movies_watched.columns:
        # Check if the target movie is present in similar_users_watched and movies_watched
        if target_movie in similar_users_watched.columns and target_movie in movies_watched.columns:
            # Initialize variables for the prediction
            total_score = 0
            total_similarity = 0

            # Iterate over similar users
            for similar_user in similar_users.index:
                # Check if the similar user has rated the target movie
                if not pd.isna(similar_users_watched.at[similar_user, target_movie]):
                    # Calculate the predicted rating based on similarity and rating
                    total_score += similar_users[similar_user] * similar_users_watched.at[similar_user, target_movie]
                    total_similarity += abs(similar_users[similar_user])

            # Avoid division by zero
            if total_similarity != 0:
                # Calculate the predicted rating for the target movie
                predicted_rating = total_score / total_similarity
                movie_predictions[target_movie] = predicted_rating

    # Extract movie names and corresponding ratings for predictions
    predicted_movies = list(movie_predictions.keys())
    predicted_ratings = list(movie_predictions.values())

    # Extract actual ratings for movies that have predictions
    actual_ratings = np.array([movies_watched.at[random_user, movie] for movie in predicted_movies if movie in movies_watched.columns])

    # Convert predicted ratings to a NumPy array
    predicted_ratings = np.array(predicted_ratings)

    # Calculate MAE
    mae = np.mean(np.abs(actual_ratings - predicted_ratings))

    # If you need to recover the dropped user later, you can use the following:
    user_similarity.loc[random_user] = dropped_row

    return mae

In [10]:
collaborative_filtering(random_user=36, n=10, threshold=0.6)

User 36 not found in the DataFrame.

In [11]:
# Set the number of users to consider
num_users = 100

# Initialize lists to store MSE and MAE for each user
mae_list = []

# Iterate over random users
for i in range(2, num_users + 1):
    mae = collaborative_filtering(random_user=i, n=10, threshold=0.6)
    if mae is not None:
        mae_list.append(mae)

# Check if there are non-None values in the list
if mae_list:
    # Calculate the average MSE and MAE across all users
    average_mae = np.mean(mae_list)
    print(f'Average Mean Absolute Error (MAE) across users: {average_mae:.2f}')
else:
    print('No valid MAE values found.')

User 36 not found in the DataFrame.
Average Mean Absolute Error (MAE) across users: 0.63